/ {
	aliases {
		enable0 = &motor_enable;
		phase0 = &motor_phase;
		sleep0 = &motor_sleep;
	};

	outputs: outputs {
		compatible = "gpio-leds";

		motor_enable: enable {
			gpios = <&gpioa 10 GPIO_ACTIVE_HIGH>;
			label = "motor enable";
		};
		motor_phase: phase {
			gpios = <&gpiob 3 GPIO_ACTIVE_HIGH>;
			label = "motor sleep";
		};
		motor_sleep: sleep {
			gpios = <&gpiob 4 GPIO_ACTIVE_HIGH>;
			label = "motor sleep";
		};
	};
};	